<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ $.Site.Title }}</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  
  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

  {{ $stylesheet := .Site.Data.webpack.noscript }}
  {{ with $stylesheet.css }}
    <noscript><link rel="stylesheet" href="{{ relURL . }}" /></noscript>
  {{ end }}
</head>
</head>

<body>

  {{ block "sidebar" . }}{{ partial "sidebar" . }}{{end}}

  {{ block "main" . }}{{end}}

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}

  <script src="{{ "scripts/jquery.min.js" | relURL }}" type="text/javascript">  </script>
  <script src="{{ "scripts/jquery.scrollex.min.js" | relURL }}" type="text/javascript"></script>
  <script src="{{ "scripts/jquery.scrolly.min.js" | relURL }}" type="text/javascript"></script>
  <script src="{{ "scripts/browser.min.js" | relURL }}" type="text/javascript"></script>
  <script src="{{ "scripts/breakpoints.min.js" | relURL }}" type="text/javascript"></script>
  <script src="{{ "scripts/hyperspace-util.js" | relURL }}" type="text/javascript"></script>
  <script src="{{ "scripts/hyperspace.js" | relURL }}" type="text/javascript"></script>
</body>

</html>