{{ define "main" }}

<section id="wrapper">
  <section 
    id="intro" 
    class="wrapper style1 fullscreen fade-up" 
    style="background-image: url('{{ "images/dead-goat.svg" | relURL }}');"
  >
      <div class="inner">
        <header>
          <h1 class="title">{{ .Title }}</h1>
          <h2 class="caption">{{ with .Params.subtitle }}{{ . }}{{ end }}</h1>
        </header>
        
        <div class="social-links">
          <a class="link" href="https://twitter.com/haggisrfc" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="link" href="https://www.facebook.com/HaggisRugby/" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
          <a class="link" href="https://www.instagram.com/haggisrfc" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
    
        <div class="content">
          <div class="body">
            <div class="image">
              {{ with .Params.image }}<img src="{{ . | relURL }}" alt="Haggis Shield" />{{ end }}
            </div>
            {{ .Content }}
          </div>
        </div>
      
      </div>
  </section>
      
  <section id="juicer" class="wrapper alt">
    <div class="inner">
      <h2>Latest News</h2>
      <p>
        {{ with .Params.news }}{{ . }}{{ end }}
      </p>
      <section class="spotlights"></section>
    </div>
  </section>

  <section id="sponsors" class="wrapper style1-alt fade-up">
    <div class="inner">
      <h2>Our Sponsors</h2>
      <p>
        {{ with .Params.sponsor }}{{ . }}{{ end }}
      </p>

      <div class="features">
        {{ range.Pages.ByParam "priority" }}
          <section class="sponsor">
            <div class="brand"><img src="{{ .Params.image }}" alt="{{ .Title }}" /></div>
            <div class="content">
              <h3>
                <a href="{{.Permalink}}">{{ .Title }}</a>
              </h3>
              {{ .Summary }}
            </div>
          </section>
        {{ end }}
      </div>
    </div>
  </section>

  <section 
    id="donate" 
    class="wrapper alt fullscreen fade-up"
    style="background-image: url('{{ "images/dead-goat.svg" | relURL }}');"
  >
    <div class="inner">
      <h1>Support Haggis Rugby</h1>
      <p>
        Interested in supporting Haggis Rugby? You can make a one-time
        donation via our PayPal account below or you can contact us via 
        <a href="mailto:haggisrfc@gmail.com" target="_blank">email</a> or 
        <a href="https://facebook.com/HaggisRugby" target="_blank">Facebook</a>.
      </p>
      {{ partial "paypal" }}
    </div>
  </section>
</section>

{{ end }}